.buttonClass {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #1f2f47;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  text-shadow: inset 0px 1px 0px #263666;
  background: linear-gradient(#2dabf9, #0688fa);
}

.buttonClass:hover {
  background: linear-gradient(#0688fa, #2dabf9);
}


.box {
 
background: rgba(161, 137, 214, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.4px);
-webkit-backdrop-filter: blur(0.4px);
border: 1px solid rgba(161, 137, 214, 0.3);
}